/* *** About page *** */

/* styling about me article */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  /* making sure it always stays center within the main container defined in index.css */
  align-self: center;
}

/* combined component: profile photo, social icons and download button which will be the left column in wider views */
#left-column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

/* combined component: main sections which will be the right column in wider views */
#right-column {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 1rem;
  max-width: 55rem;
  align-items: center;
}

/* graphic/text component sections within right column container */
#right-column section h2 {
  margin-bottom: 1rem;
  /* headings will align center in mobile view */
  text-align: center;
}

#right-column p {
  line-height: 1.5;
}

/* combined component: skills table */
#skills-table {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin-top: 1rem;
  justify-content: center;
  /* align figcaption */
  align-items: flex-end;
}

#skills-table figure {
  text-align: center;
  margin: 0 0.3rem;
}

#skills-table img {
  width: 10vw;
  max-width: 80px;
}

#skills-table figcaption {
  font-style: italic;
  font-size: 0.9rem;
}

/* *** TABLET AND DESKTOP STYLES *** */
/* as it does not look good to have 2 columns on narrow screens, there is only one media query for this page  */
@media only screen and (min-width: 780px) {
  /* resize about me; split into 2 columns */
  #about-me {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    align-items: flex-start;
  }

  /* set flex basis for 2 columns */
  #left-column {
    flex: 1;
  }

  #right-column {
    flex: 8;
    align-items: flex-start;
  }

  /* headings and skill table will align to column left */
  #right-column section h2 {
    text-align: start;
  }

  #skills-table {
    justify-content: flex-start;
  }
}
