/* About page */

.profile {
  width: 50%;
  border-radius: 50%;
}

.social-list-icons img {
  margin: 0 0.2rem;
}

.about-page > * {
  margin: 0.5rem 0;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.about-me div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 0.5rem;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.my-skills img {
  width: 15vw;
}

.my-skills div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: flex-end;
}

.my-skills div figure {
  text-align: center;
  margin: 0 0.3rem;
}

.about-page .button {
  align-self: center;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 680px) {
  /* resize about me */
  .about-me {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
  }

  .about-me h2,
  .about-me .social-list-icons {
    width: 100%;
  }

  .profile {
    flex: 1;
  }

  .about-me div {
    flex: 5;
  }

  .about-me h2,
  .about-me .social-list-icons {
    text-align: center;
  }

  /* resize about my skills */
  .my-skills img {
    width: 8vw;
  }
}
/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 970px) {
  /* about page */
  .my-skills,
  .about-me {
    width: 80%;
    align-self: center;
  }
  .my-skills img {
    width: 6vw;
  }
}
