/* blog post banner */

/* article layout */
.blog-post-main article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* remove space around banner image */
.blog-post-main {
  margin-top: 0;
}

/* set title size */
.blog-post-main h1 {
  font-size: 2rem;
}

/* banner layout */

section[id^="blog-heading-"] {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2.5rem;
  width: 100vw;
}

section[id^="blog-heading-"] * {
  background-color: white;
  margin: 1rem 0;
}

/* banner background image */
#blog-heading-1 {
  background: #00000070
    url("../assets/blog-img/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg") center
    no-repeat;
  background-size: cover;
}

#blog-heading-2 {
  background: #00000070
    url("../assets/blog-img/hal-gatewood-tZc3vjPCk-Q-unsplash.jpg") center
    no-repeat;
  background-size: cover;
}

#blog-heading-3 {
  background: #00000070
    url("../assets/blog-img/alvaro-reyes-qWwpHwip31M-unsplash.jpg") center
    no-repeat;
  background-size: cover;
}

#blog-heading-4 {
  background: #00000070
    url("../assets/blog-img/marvin-meyer-SYTO3xs06fU-unsplash.jpg") center
    no-repeat;
  background-size: cover;
}

#blog-heading-5 {
  background: #00000070
    url("../assets/blog-img/edho-pratama-yeB9jDmHm6M-unsplash.jpg") center
    no-repeat;
  background-size: cover;
}

/* blog navbar - prev next back */
.blog-nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  background-color: #eff1f5;
  margin-top: 1rem;
}

.blog-nav a {
  background: #0980a7;
  color: white;
  text-decoration: none;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.blog-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 50rem;
}

/* left align body text */
.blog-post-main > p {
  align-self: flex-start;
}

/* image same as content width */
.blog-post-main img {
  width: 100%;
}

/* set caption style */
figcaption {
  color: grey;
  font-style: italic;
  font-size: 0.8rem;
}

figcaption a {
  color: inherit;
}

/* *** TABLET AND DESKTOP STYLES *** */
@media only screen and (min-width: 680px) {
  /* increase spacing for title banner */
  section[id^="blog-heading-"] > * {
    margin: 2rem 0;
  }

  /* make blog navbar appear closer to each other */
  .blog-nav {
    justify-content: center;
  }

  .blog-nav a {
    margin: 0 2rem;
  }
}

@media only screen and (min-width: 680px) {
  figure {
    width: 80%;
    align-self: center;
  }
}
