.contact-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}

.social-list-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.social-list-full a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: black;
}

.social-list-full a:hover .logo-fill {
  display: inline-block;
}

.social-list-full a:hover .logo-line {
  display: none;
}

/* contact page - form */
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  /* width: 100%; */
}

form .button {
  border: none;
  align-self: center;
}

form em {
  color: red;
  font-style: normal;
}

/* TODO: make textarea responsive */

textarea {
  resize: none;
  padding: 0.5rem;
}

input {
  padding: 0.3rem;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 680px) {
  /* contact page */

  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }

  form label {
    text-align: right;
    margin-right: 2rem;
  }
  form input {
    grid-column: span 2;
  }
  form textarea {
    grid-column: span 2;
  }
  form .button {
    grid-column: 2;
    margin-top: 1rem;
    justify-self: center;
  }
}
/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 970px) {
  /* contact page */
  form {
    width: 70%;
    grid-template-columns: repeat(6, 1fr);
  }

  form label {
    margin-right: 1rem;
  }
  form textarea {
    grid-column: span 5;
  }

  form .button {
    grid-column: span 6;
  }
}
