@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* *** home page - hero banner *** */

/* text component: hero section */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #eff1f5;
  text-align: center;
}

#hero h1 {
  font-family: "pacifico", cursive;
  font-size: 2rem;
}

#hero p {
  font-size: 1.5rem;
  font-weight: 600;
}

/* add animation to name initials */
#hero em {
  font-style: normal;
  animation: 1s heroExpand 0.8s forwards;
}

@keyframes heroExpand {
  from {
  }
  to {
    color: #0980a7;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

/* add margin for CTA button */
#hero .button {
  margin-top: 1rem;
}

/* *** Home page - about me section *** */

/* styling about section and graphic component within it */
#home-about,
#home-about .row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

/* text component: list */
#home-about ul {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  row-gap: 0.7rem;
}

/* push list marker inside container */
#home-about ul li {
  margin-left: 1.5rem;
}

/* styling see more button */
#home-about .button {
  align-self: center;
  margin-top: 1rem;
}

/* *** home page - featured projects *** */

#home-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 2rem;
}

/* combined component: project cards */
#home-project section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  transition: 0.8s;
  max-width: 40rem;
}

/* graphic component: project card image */
#home-project section img {
  width: 100%;
  border-radius: 1rem;
}

/* hover card effect */
#home-project section:hover {
  box-shadow: 8.6px 7.1px 19px -11px rgba(0, 0, 0, 0.065),
    36px 30px 45px -11px rgba(0, 0, 0, 0.13);
}

/* *** home page - blog posts *** */

#home-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

/* text component: blog card */
.home-blog-card {
  text-decoration: none;
  color: black;
  width: 100%;
  /* prepare for background hover effect */
  transition: 0.2s;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* add max width so that title and date doesnt get too far awar */
  max-width: 40rem;
}

.blog-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
  align-items: center;
}

/* right align published dates */
.home-blog-card > p {
  text-align: end;
}

/* add background color and '>' to indicate the hovered element is a clickable link */
.home-blog-card:hover {
  background-color: #add8e670;
}

.home-blog-card:hover h3::after {
  content: ">";
  display: inline-block;
  margin-left: 1rem;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 680px) {
  /* *** resize about section *** */

  #home-about .row-wrapper {
    /* make profile image and list text in one row */
    flex-direction: row;
    column-gap: 2rem;
  }

  /* *** resize projects section *** */

  /* project cards display in one row */
  #home-project {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1.5rem;
  }

  /* heading stays on one line */
  #home-project h2 {
    flex: 100%;
  }

  /* even distribution for each card */
  #home-project section {
    flex: 1;
  }
}

/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 970px) {
  /* add more margin to main section to pages so that it doesn't look weird */
  #home-about,
  #home-project,
  #home-blog {
    width: 80%;
    align-self: center;
  }
  /* increase gap between project cards */
  #home-project,
  #home-blog {
    column-gap: 3rem;
  }

  /* resize blog section */
  .blog-container {
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: space-around;
    justify-content: space-around;
  }
}
