@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* home page banner */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: #eff1f5;
  background-size: cover;
  text-align: center;
}

#hero h1 {
  font-size: 2rem;
  font-family: "pacifico", cursive;
}

#hero p {
  font-size: 1.5rem;
  font-weight: 600;
}

#hero em {
  font-style: normal;
}

#hero:hover em {
  /* font-family: "Pacifico", cursive; */
  animation: heroEffect 0.5s forwards;
}

#hero:not(hover) em {
  animation: heroEffectBack 0.5s backwards;
}

@keyframes heroEffect {
  from {
  }
  to {
    color: #0980a7;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@keyframes heroEffectBack {
  from {
    color: #0980a7;
    font-size: 2.2rem;
    font-weight: 700;
  }
  to {
  }
}

#hero .button {
  margin-top: 1rem;
}

/* Home page - about me section */
.home-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.home-about-me ol {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-left: 1rem;
}

.home-about-me .button {
  align-self: center;
}

.break {
  flex: 100%;
  height: 0;
}

/* home page - featured projects */
.home-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 2rem;
}

.home-project section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  transition: 0.8s;
}

.home-project section:hover {
  box-shadow: 8.6px 7.1px 19px -11px rgba(0, 0, 0, 0.065),
    36px 30px 45px -11px rgba(0, 0, 0, 0.13);
}

.home-project section img {
  width: 100%;
  border-radius: 1rem;
}

/* home page - blog posts */

#home-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.home-blog-card {
  text-decoration: none;
  color: black;
  align-self: flex-start;
  width: 100%;
}

.home-blog-card:hover {
  text-decoration: underline;
}

.home-blog-date {
  text-align: end;
}

#home-posts h3::after {
  content: url(../assets/arrow_right_fill.svg);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 5px;
  color: inherit;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 680px) {
  /* resize about me */
  .home-about-me {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
  }

  .home-about-me h2,
  .home-about-me .social-list-icons {
    width: 100%;
    text-align: center;
  }

  .profile {
    flex: 1;
  }

  .home-about-me ol {
    flex: 5;
  }

  /* resize home projects */
  .home-project {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1.5rem;
  }

  .home-project h2 {
    width: 100%;
  }

  .home-project section {
    flex: 1;
  }
}

/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 970px) {
  /* home page */
  .home-about-me {
    width: 80%;
    align-self: center;
  }
  .home-project {
    width: 80%;
    align-self: center;
    column-gap: 3rem;
  }
  #home-posts {
    width: 60%;
    align-self: center;
  }
}
