@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* css reset and set primary font family and color */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #141414;
}

/* *** REUSABLE COMPONENTS *** */

/* graphic component: logo */
.wp-logo {
  width: 15vw;
  max-width: 50px;
}

/* graphic component: profile image */
.profile {
  border-radius: 50%;
  width: clamp(150px, 40vw, 250px);
}

/* buttons */
.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  /* min-width: 8rem; */
}

.btn-dark {
  background: #0980a7;
  color: white;
  transition: 0.4s;
}

.btn-dark:visited {
  color: white;
}

.btn-dark:hover {
  padding: 0.5rem 3rem;
}

.btn-light {
  color: #07271e;
  background-color: #eff1f5;
  transition: 0.2s;
}

.btn-light:visited {
  color: #07271e;
}

.btn-light:hover {
  background-color: #0980a7;
  color: white;
}

/* graphic component: social account list - icons (in home and about) */

.social-list-icons {
  display: flex;
  justify-content: center;
}

.logo-fill {
  display: none;
}

.social-list-icons a:hover .logo-fill {
  /* swap logos when hovered */
  display: inline-block;
}

.social-list-icons a:hover .logo-line {
  display: none;
}

/* text component: intro section on main pages */
.intro h1 {
  font-size: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 1rem;
  padding: 1rem 2rem 2rem;
  align-self: center;
  background-color: #eff1f5;
}

.intro p {
  font-size: 1.2rem;
  max-width: 55rem;
}

/* *** SECTIONS FOR ALL PAGES *** */
/* combined component: header */
body > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #add8e6;
}

/* text component: navbar */
.header-nav {
  display: flex;
  flex-direction: column;
}

.header-nav a {
  text-decoration: none;
  color: #141414;
  padding: 0.8rem;
  width: 100vw;
  transition: 0.2s;
}

a:visited {
  color: #141414;
}

.header-nav a:hover {
  background-color: #0980a7;
  color: white;
}

#nav-active {
  background: #0980a7;
  color: white;
}

/* combined component: footer */
body > footer {
  display: flex;
  background-color: #eff1f5;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

/* styling main section for all pages */
body > main {
  /* I added this so that each section under hero or page intro can be divided into chunks and have spaces around */
  display: flex;
  flex-direction: column;
  margin: 3rem 1.5rem;
  row-gap: 3rem;
}
/* *** TABLET STYLES *** */
@media only screen and (min-width: 550px) {
  /* responsiveness for navbar: columns turning into rows when it gets wider */
  body > header {
    flex-direction: row;
  }
  .header-nav {
    flex-direction: row;
    column-gap: 0.2rem;
  }

  .header-nav a {
    width: auto;
    padding: 0.5rem 0.8rem;
  }

  .header-nav a:hover,
  #nav-active {
    border-radius: 0.2rem;
  }
}
