* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Noto Sans, sans-serif;
}

/* buttons */
.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  min-width: 8rem;
}

.button:hover {
  background-color: #0e7c7b;
}

.btn-dark {
  background: #0e7c7b;
  color: white;
}

.button-dark:visited {
  color: white;
}

.btn-light {
  color: #07271e;
  background-color: #eff1f5;
}

.btn-light:visited {
  color: #07271e;
}

/* header */
body > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #0e7c7b;
}

/* navbar */
body > header nav {
  display: flex;
  flex-direction: column;
}

body > header nav a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

body > header nav a:visited {
  color: white;
}

body > header nav a:hover {
  text-decoration: underline;
}

/* main sec */
body > main {
  display: flex;
  flex-direction: column;
  margin: 3rem 1.5rem;
  row-gap: 3rem;
}
/* footer */
body > footer {
  display: flex;
  background-color: #eff1f5;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 550px) {
  body > header {
    flex-direction: row;
  }
  body > header nav {
    flex-direction: row;
  }
  .profile {
    width: 30%;
  }
}
