* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Noto Sans, sans-serif;
}

/* *** REUSABLE COMPONENTS *** */

/* logo */
.wp-logo {
  width: 50px;
}

/* profile image */
.profile {
  width: 40vw;
  min-width: 200px;
  max-width: 300px;
  border-radius: 50%;
}

/* buttons */
.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  min-width: 8rem;
  transition: 0.4s;
}

.btn-dark {
  background: #0e7c7b;
  color: white;
}

.btn-dark:visited {
  color: white;
}

.btn-dark:hover {
  padding: 0.5rem 5rem;
}

.btn-light {
  color: #07271e;
  background-color: #eff1f5;
}

.btn-light:visited {
  color: #07271e;
}

.btn-light:hover {
  background-color: #0e7c7b;
  color: white;
}

/* social icon list */

.logo-fill {
  display: none;
}

.social-icon-list a:hover .logo-fill {
  display: inline-block;
}

.social-icon-list a:hover .logo-line {
  display: none;
}

.home-about-me section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-top: 0.5rem;
}

/* *** SECTIONS FOR ALL PAGES *** */
/* header */
body > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #0e7c7b;
}

/* navbar */
body > header nav {
  display: flex;
  flex-direction: column;
}

body > header nav a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

body > header nav a:visited {
  color: white;
}

body > header nav a:hover {
  text-decoration: underline;
}

/* main sec */
body > main {
  display: flex;
  flex-direction: column;
  margin: 3rem 1.5rem;
  row-gap: 3rem;
}
/* footer */
body > footer {
  display: flex;
  background-color: #eff1f5;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 550px) {
  body > header {
    flex-direction: row;
  }
  body > header nav {
    flex-direction: row;
  }
}
