.project-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.project-list section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  transition: 0.8s;
}
.project-list section:hover {
  box-shadow: 8.6px 7.1px 19px -11px rgba(0, 0, 0, 0.065),
    36px 30px 45px -11px rgba(0, 0, 0, 0.13);
}

.project-list section img {
  width: 100%;
  border-radius: 0.5rem;
}

.project-list section *:not(img, a) {
  padding: 0 1rem;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 680px) {
  /* resize project page */
  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 970px) {
  /* project page */
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
