* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Noto Sans, sans-serif;
}

/* buttons */
.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.button:hover {
  background-color: #0e7c7ac1;
}

.btn-dark {
  background: #0e7c7b;
  color: white;
}

.button-dark:visited {
  color: white;
}

.btn-light {
  color: #07271e;
  background-color: #eff1f5;
}

.btn-light:visited {
  color: #07271e;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #0e7c7b;
}

/* navbar */
nav {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* main sec */
main {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}
/* footer */
footer {
  display: flex;
  background-color: #eff1f5;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

/* home page */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #eff1f5;
  background-size: cover;
}

#hero em {
  color: #ff9f1c;
}

#hero .button {
  margin-top: 1rem;
}

/* Home page - about me section */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0.5rem;
}

.social-icon-list img {
  margin: 0 0.2rem;
}

#profile {
  width: 20vw;
  border-radius: 50%;
}

/* home page - featured projects */
.home-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
  margin: 1rem 0;
}

.home-project section p {
  margin: 0.5rem 0;
}

/* home page - blog posts */

.home-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.home-blog-title,
.home-blog-date {
  text-decoration: none;
  color: black;
}

.home-blog-title:hover,
.home-blog-date:hover {
  text-decoration: underline;
}

.home-blog-date {
  text-align: end;
}

/* main header */
main header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

main header h2 {
  margin: 1rem 0;
}

/* Blog page and Projects page*/

.blog-list,
.project-list {
  display: flex;
  flex-direction: column;
}

.blog-list section,
.project-list section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 0 2rem;
  gap: 0.5rem;
}

.blog-list section img,
.project-list section img {
  width: 100%;
  height: 50vw;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
}

.blog-list section p {
  align-self: flex-end;
}

.project-list section a {
  border: 1px solid teal;
  padding: 0.2rem 0.4rem;
}

/* Contact page */

main {
  display: flex;
  align-items: center;
}

.social-media-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.social-media-list section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* contact page - form */
form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}
/* TODO: fix left margin, make textarea responsive */

textarea {
  resize: none;
}

input {
  padding: 0.3rem;
}

/* About page */

/* .about-page {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  row-gap: 2rem;
} */

/* about - about me */
/* .about-me {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.about-me-heading {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-self: center;
  text-align: center;
}

.social-icon-list img {
  margin: 0 0.2rem;
}

#profile {
  flex: 1;
  border-radius: 50%;
  margin-right: 2rem;
} */
/* TODO: fix flexbox here */

.my-skills img {
  width: 10vw;
}

.my-skills section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  justify-content: space-around;
  align-items: flex-end;
}

.my-skills section figure {
  /* flex: 1 1 auto; */
  text-align: center;
}

.about-page button {
  align-self: center;
  padding: 0.2rem 1rem;
}
