* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
}

main {
  display: flex;
  flex-direction: column;
}

/* main header */
main header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

main header h2 {
  margin: 1rem 0;
}

/* general links */
a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Blog page and Projects page*/

.blog-list,
.project-list {
  display: flex;
  flex-direction: column;
}

.blog-list section,
.project-list section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 0 2rem;
  gap: 0.5rem;
}

.blog-list section img,
.project-list section img {
  width: 100%;
  height: 50vw;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
}

.blog-list section p {
  align-self: flex-end;
}

.project-list section a {
  border: 1px solid teal;
  padding: 0.2rem 0.4rem;
}

/* Contact page */

main {
  display: flex;
  align-items: center;
}

.social-media-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.social-media-list section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* contact page - form */
form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}
/* TODO: fix left margin, make textarea responsive */

textarea {
  resize: none;
}

input {
  padding: 0.3rem;
}

/* About page */

.about-page {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  row-gap: 2rem;
}

/* about - about me */
.about-me {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.about-me-heading {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-self: center;
  text-align: center;
}

.social-icon-list img {
  margin: 0 0.2rem;
}

#profile {
  flex: 1;
  border-radius: 50%;
  margin-right: 2rem;
}
/* TODO: fix flexbox here */

.my-skills img {
  width: 10vw;
}

.my-skills section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  justify-content: space-around;
  align-items: flex-end;
}

.my-skills section figure {
  /* flex: 1 1 auto; */
  text-align: center;
}
